.contact-form6-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-form6-max-width {
  width: 1832px;
  align-items: center;
  justify-content: center;
}
.contact-form6-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1486px;
  height: 735px;
}
.contact-form6-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form6-input {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form6-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form6-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form6-input2 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form6-input3 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form6-checkbox {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.contact-form6-button {
  align-self: flex-start;
}
.contact-form6-text4 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form6-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form6-form {
    width: 100%;
  }
  .contact-form6-container {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form6-input {
    width: 50%;
  }
  .contact-form6-input1 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form6-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form6-input2 {
    width: 50%;
  }
  .contact-form6-input3 {
    width: 50%;
  }
  .contact-form6-checkbox {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-form6-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form6-container {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form6-input {
    width: 100%;
  }
  .contact-form6-input1 {
    width: 100%;
  }
  .contact-form6-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form6-input2 {
    width: 100%;
  }
  .contact-form6-input3 {
    width: 100%;
  }
}
